#search{
    margin: 0 auto;
}
#spinner{
    display: none;
}

#container{
    margin: 120px 250px 0 250px;
}
.cards{
    padding-bottom: 30px;
}

@media screen and (max-width: 540px){
    #container {
            margin: 120px 250px 0 97px;
        }
}

@media screen and(max-width:882px) {
#container {
        margin: 120px 108px 0 106px;
    }
}