.heading{
    margin-top: 25px;
}
#search{
    margin: 0 auto;
}
#spinner{
    display: none;
}

#container{
    margin: 120px 250px 0 250px;
}
.cards{
    padding-bottom: 30px;
}


@media screen and (max-width:375px) {
#container{
     margin:  120px 61px 0 42px;
    }
}

@media screen and (max-width: 500px) and (min-width:374px) {
    #container {
            margin: 120px 73px 0 42px;
        }
}

@media screen and(max-width:990px) {
#container {
        margin: 120px 135px 0 215px;
    }
}