#search{
    margin: 0 auto;
}
#spinner{
    display: none;
}

#container{
    margin: 120px 250px 0 250px;
}
.cards{
    padding-bottom: 30px;
}

@media screen and (max-width: 500px)  {
    #container {
            margin: 120px 73px 0 104px;;
        }
}

@media screen and(max-width:768px) {
#container {
        margin: 120px 21px 0 73px;
    }
}